<div class="splash-page">
  <div class="text-center map-image splash-screen">
    <img src="<%= asset_path('splash-screen.png') %>"></img>
  </div>
  <h2 class="text-center title-text">Sword Coast Map</h2>
  <p class="text-center default-text subtitle-text">(Nelanther Isles are the southern most cluster of islands)</p>
  <div class="text-center map-image">
    <a href="http://media.wizards.com/2015/images/dnd/resources/Sword-Coast-Map_HighRes.jpg" target="_new">
      <img src="http://media.wizards.com/2015/images/dnd/resources/Sword-Coast-Map_LowRes.jpg"></img>
    </a>
  </div>
  <map></map>
</div>
