<div class="content">
  <div class="info-card-wrapper">
    <div class="info-card">
      <% if current_user.content_creator? || current_user.admin? %>
        <%=(wt 'There is no such page', :default => 'There is no such page. Do you want to <a href="%{new_url}">create it</a>?', :new_url => wiki_page_new_path ).html_safe %>
      <% else %>
        Page does not exist.<br><br>
        <a href="/wiki" class="btn btn-primary">Go Back</a>
      <% end %>
    </div>
  </div>
</div>
