<div class="content">
  <h1 class="title-text"><%=h @page.title.gsub('+', ' ') %></h1>

  <%= wiki_page_info %>
  <%= wiki_page_actions %>

  <div class="wiki_content">
    <%= wiki_linkify(wiki_show_attachments( @page.content)) %>
  </div>
</div>
