campaign-selector {
  display: block;
  max-width: 1024px;
  margin: auto;
}

.campaign-card {
  text-align: left;
}

.green {
  color: $green;
}

.campaign-placeholder {
  text-align: center;
  font-size: 40px;
  margin: 39px;
}

.campaign-row {
  width: 100%;
}

.campaign-card-name {
  margin-bottom: 0;
}
