.campaign-card {
  background: $turquoise;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  min-height: 120px;

  &:hover {
    background-color: $turquoise-hover !important;
  }

  h4 {
    line-height: 70px !important;
  }
}

.campaign-placeholder {
  background: white;
  border: 2px solid $green;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $green !important;

    i {
      color: white !important;
    }
  }

  h1 {
    line-height: 56px !important;
  }
}

.green {
  color: $green;
}
