<div class="site-header">
  <div class="banner-container">
    <h1 class="logo-container">
      <a href="/" class="white title-text">Dungie</a>
      <div class="white title-text subtitle">Encounter Manager</div>
    </h1>
  </div>
</div>
